html, body {
    height: 100%;
    margin: 10;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

#container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally within the container */
    justify-content: center; /* Center items vertically within the container */
    width: 80vw; /* Width relative to viewport width */
    height: 80vh; /* Height relative to viewport height */
    background-color: white; /* Optional: background color for the container */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2); /* Optional: subtle shadow */
    padding: 20px; /* Optional: padding inside the container */
}


#timer {
    font-size: 10em;
    margin-bottom: 20px;
}

button {
    font-size: 1.5em;
    margin: 5px;
}